// fill the browser with our glorious website
body,
html {
  height: 100%;
  width: 100%;
  background-color: $background-color;
  font-family: 'Oswald', serif;
  font-weight: 200;
}

body {
  color: $text-color;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1em; }
h4 { font-size: 0.67em; }
h5 { font-size: 0.5em; }
h6 { font-size: 0.35em; }

aside {
  position: fixed;
  right: 20px;
  top: 20px;
  bottom: 20px;
  overflow-y: scroll;
  background-color: $text-background-color;
}

.container.full-height {
  background-image: url('./static/ri-bg-image.png');
  background-repeat: no-repeat;
}

header {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  * {
    
    margin: 0;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: inherit;
    }
  }
  h1 {
    font-size: 2em;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid grey;
    font-height: 1.2;
    padding-left: 3px;

    .dark {
      display: inline-block;
      color: #ddd;
      background-color: grey;
      padding: 0 3px;
    }
  }
  h2 {
    font-size: 1.5em;
  }


  h4 {
    cursor: pointer;
    display: inline-block;
    padding: 0 10px;
    letter-spacing: .02em;
    font-size: 1em;
  }

  h4:hover {
    color: #111;
  }

}

.funding {
  fill: $funding-color;
}

.families {
  fill: $families-color;
}

.container {
  padding: 20px;
}

.mainPanel {
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;

  svg.theMap {
    margin: 20px;
    background-color: $map-background-color;
    

    
  }

}

.timelineControls {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
}

h2 {
  text-align: center;

  .stateList & {
    margin-top: 10px;
    font-size: 1.4em;
  }
}

