// fill the browser with our glorious website
body,
html {
  height: 100%;
  width: 100%;
  background-color: $background-color;
  font-family: 'Oswald', serif;
  font-weight: 200;
}

body {
  color: $text-color;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1em; }
h4 { font-size: 0.67em; }
h5 { font-size: 0.5em; }
h6 { font-size: 0.35em; }

aside {
  position: fixed;
  right: 20px;
  top: 20px;
  bottom: 20px;
  overflow-y: scroll;
  background-color: $text-background-color;
  padding: 10px;
}

header {
  text-align: center;
  * {
    display: inline-block;
    margin: 0;
  }
  h1 {
    padding-right: 10px;
    font-size: 2em;
    margin-top: 20px;
  }
  h2 {
    font-size: 1.5em;
  }

}

text {
  fill: $text-color;
}

.funding {
  fill: $funding-color;
}

.families {
  fill: $families-color;
}

.container {
  padding: 20px;
}

.mainPanel {
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;

  svg.theMap {
    margin: 20px;
    background-color: $map-background-color;
    

    
  }

  .mapLegend {
      position: absolute;
      top: 20px;
      background-color: rgba($map-background-color, 0.9);
      border-left: 2px solid rgba($map-background-color, 0.9);
      border-right: 2px solid rgba($map-background-color, 0.9);
      border-bottom: 2px solid rgba($map-background-color, 0.9);
      overflow: hidden;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      pointer-events: none;

      svg text {
         fill: white;
      }
    }
}

.timelineControls {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: white;
  padding: 10px;
}

h2 {
  text-align: center;

  .stateList & {
    margin-top: 10px;
    font-size: 1.4em;
  }
}