// fill the browser with our glorious website
body,
html {
  height: 100%;
  width: 100%;
  background-color: $background-color;
  font-family: 'Oswald', serif;
  font-weight: 200;
}

body {
  color: $text-color;
}

h1 { font-size: 3em; }
h2 { font-size: 2em; }
h3 { font-size: 1em; }
h4 { font-size: 0.67em; }
h5 { font-size: 0.5em; }
h6 { font-size: 0.35em; }

aside {
  position: fixed;
  right: 10px;
  top: 10px;
  bottom: 10px;
}

header {
  text-align: center;
  * {
    display: inline-block;
  }
  h1 {
    padding-right: 10px;
  }

}
