// sizes
// (be sure to copy any changes to App.jsx#computeComponentDimensions)
$container-padding: 20px;
$header-height: 40px;
$bottom-row-height-short: 230px;
$bottom-row-height-tall: 310px;

// breakpoints
$breakpoint-width-narrow: 750px;
$breakpoint-width-wide: 1280px;

// colors
$background-color: #ccc;//#CDCAC2;
$map-background-color: #D1D5D7;
$modal-overlay-color: rgba(51, 51, 51, 0.25);
$text-color: #111;
$text-link-color: #207a9e;
$tile-border-color: rgb(225, 225, 225);
$funding-color: #9E7B9B;
$families-color: #969696;
$poc-color: rgb(163, 135, 190);
$territory-color: #909EAC;
$white-color: rgb(44, 160, 44);
$selected-color: #F0F757;
$highway-color: lightsteelblue; // #D8AE37; // mustard
$basemap-color: #F5F5F3;
$state-lines-color: lighten(#000, 50%);
$text-background-color: $basemap-color;

// old theme
//$background-color: #232d37;
//$modal-overlay-color: rgba(51, 51, 51, 0.25);
//$text-color: #eee;
//$text-link-color: #207a9e;
//$tile-border-color: rgb(225, 225, 225);
//$funding-color: #9E7B9B;
//$families-color: #969696;
//$selected-color: #F0F757;
//$highway-color: #EB8258;
//$basemap-color: #666;