.mapLegend.demographics {
	width: 150px;
	height: 130px;
	pointer-events: auto; 
	overflow: visible;
	padding: 10px 0 0 10px;

	.quantities {
		fill: grey;
		font-size: 0.9em;
	}

	.tooltip {
	    visibility: hidden;
	    width: 240px;
	    background-color: white;
	    color: black;
	    text-align: center;
	    border-radius: 6px;
	    padding: 5px;
	    text-shadow: none;

	    /* Position the tooltip */
	    position: absolute;
	    right: 0px;
	    top: -60px;
	}

	&:hover {
	    .tooltip {
	        visibility: visible;
	    }
	}
}