.holc {
  &.redlining {
    display: inline-block;
    width: 150px;
  }

  .colorkey {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 14px;

    &.A { 
      background-color: #418e41;
    }
    &.B { 
      background-color: #4a4ae4;
    }
    &.C { 
      background-color: #ffdf00;
    }
    &.D { 
      background-color: #eb3f3f;
    }
  }

  .link {
    pointer-events: auto;
    font-style: italic;
    line-height: 15px;
  }



}

.legendStage {
  .tooltip {
      visibility: hidden;
      width: 240px;
      background-color: #eee;
      color: black;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      text-shadow: none;

      /* Position the tooltip */
      position: absolute;
      right: 0px;
      bottom: 180px;

      &.projectType {
        right: 300px;
        line-height: 1.6;
      }
  }
}