.mapLegend.demographics {
	pointer-events: auto; 
	overflow: visible;


	svg {
		display: inline-block;

		&.demographics {

			text {
				fill: black;
				text-anchor: middle;
				font-size: 16px;

				&.quantities {
					fill: grey;
					font-size: 14px;

					&.y {
						text-anchor: start;
					}
				}
			}

			rect {
				stroke-width: 0.5;
				stroke-opacity: 0.1;
			}
		}
	}




	.tooltip {
	    visibility: hidden;
	    width: 240px;
	    background-color: #eee;
	    color: black;
	    text-align: center;
	    border-radius: 6px;
	    padding: 5px;
	    text-shadow: none;

	    /* Position the tooltip */
	    position: absolute;
	    right: 0px;
	    top: -160px;
	}

	&:hover {
	    .tooltip {
	        visibility: visible;
	    }
	}
}

.shadow {
	font-family: 'Roboto Condensed';
	text-shadow: -3px 0 1px #f5f5f3, 0 3px 1px #f5f5f3, 3px 0 1px #f5f5f3, 0 -3px 1px #f5f5f3;
}