.mapLegend.demographics {
	pointer-events: auto; 
	overflow-x: scroll;
	overflow-y: visible;
	
	.legendComponents {
		white-space: nowrap;
	}


	div.gradient {
		display: inline-block;

		svg {
			

			&.demographics {

				text {
					fill: black;
					text-anchor: middle;
					font-size: 16px;

					&.quantities {
						fill: grey;
						font-size: 14px;

						&.y {
							text-anchor: start;
						}
					}
				}

				rect {
					stroke-width: 0.5;
					stroke-opacity: 0.1;
				}


			}
		}

		&:hover {
		    .tooltip {
		        visibility: visible;
		    }
		}

	}









	.tooltip {
	    visibility: hidden;
	    width: 240px;
	    background-color: #eee;
	    color: black;
	    text-align: center;
	    border-radius: 6px;
	    padding: 5px;
	    text-shadow: none;

	    /* Position the tooltip */
	    position: absolute;
	    right: 0px;
	    bottom: 180px;

	    &.projectType {
	    	right: 300px;
	    	line-height: 1.6;
	    }
	}


}

.shadow {
	font-family: 'Roboto Condensed';
	text-shadow: -3px 0 1px #f5f5f3, 0 3px 1px #f5f5f3, 3px 0 1px #f5f5f3, 0 -3px 1px #f5f5f3;
}