.projectFootprint {
	display: inline-block;
	line-height: 1.05;

	h4 {
		text-align: center;
		font-size: 16px;
		font-family: 'Roboto Condensed', sans-serif;
		margin-bottom: 4px;
	}

	div {
	    &:hover {
	    	.tooltip {
	    		visibility: visible;
	    	}
	    }
	}

  .colorkey {
    width: 20px;
    height: 3px;
    display: inline-block;
    margin-right: 6px;
    border: 0px solid;
    margin-bottom: 5px;


   }

	@extend .cityMapBubble;

	text.note {
		text-anchor: start;
	}

	text.stage {
		font-style: normal;
		text-anchor: middle;
		font-family: Oswald, sans-serif;
		font-weight: 400;
		font-size: 12px;
		fill: white;
		stroke: transparent;

		&.future,
		&.completed {
		  fill: #999;
		}
	}

	line.boundary {
		stroke: black;
		stroke-width: 3;

		&.inactive {
			stroke-dasharray: 5, 10;
		}
	}

	path.boundary {
		stroke: #5B3000;
		stroke-width: 3;
		stroke-linecap: round;
		stroke-linejoin: round;
		fill-opacity: 0.2;
	}
}