.projectStats {
  text-align: center;
  svg {
    display: inline-block;
  }

}

.cityStats, .projectStats {
  h2 {
    margin: 0 auto 10px;
    border-bottom: 1px solid #aaa;
    font-family: 'Roboto Condensed', sans-serif;
  }

  h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .legend {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    font-size: 18px;

    h4 {
      font-size: 20px;
      font-weight: 400;
      font-family: 'Roboto Condensed', sans-serif;
      margin: 0 0 3px 0;
    }

    ul {
      display: inline-block;
      li {
        list-style: none;
        text-align: left;
        margin: 0;
      }
    }
  }

  .citations {
    margin: 10px auto;
    width: 80%;
    li {
      text-align: left;
    }
  }

  .context {
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2em;

    span {
      color: steelblue;
      font-weight: 400;
    }
  }

  .invitation {
    font-family: 'Roboto Condensed', sans-serif;
    width: 60%;
    margin: 10px auto;
    font-style: italic;
    cursor: pointer;
    color: steelblue;
  }

  svg {
    .tickLabel {
      fill: grey;
      font-size: 12;

      &.right {
        text-anchor: end;
      }

      &.left {
        text-anchor: start;
      }
    }

    .yTickLabel {
      text-anchor: end;
    }

    line.tick {
      stroke: #bbb;
      stroke-width: 0.5;
    }
  }


  .closeicon {
      margin-left: -30px;
      margin-top: -2px;
      float: right;
      width: 30px;
      height: 26px;
      display: inline-block;
      background-repeat: no-repeat;
      opacity: 0.4;
      cursor: pointer;
      font-size: 1.5em;
  }

  .closeicon:hover {
      opacity: 1.0;
  }

  .summary, .duration {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 1.1em;
    margin: 20px auto;
    line-height: 1.05;
  }

  .projects {
    li {
      text-transform: uppercase;
    }
  }

  svg.project {

    text {
      font-size: 14px;
      font-weight: 100;
        -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
      user-select: none;
      fill: grey;
      cursor: pointer;

      &.label {
        font-weight: 400;
        
        &.projects {
          text-anchor: end;
        }

        &.displacements,
        &.duration {
          text-anchor: middle;
        }
      }

      &.project {
        text-anchor: end;
        fill: #222;
        &.hasFootprint {
          font-weight: 400;
        }
      }

      &.count {
        font-size: 12px;

        &.poc,
        &.territory {
          text-anchor: end;
        }
      }

      &.notInspected {
        fill: #aaa !important;
      }

      &.startYear {
        font-size: 12px;
        text-anchor: end;
      }

      &.endYear {
        font-size: 12px;
      }
    }

    .divider {
      stroke: #aaa;
      strokeWidth: 0.5
    }

    rect {
      &.notInspected {
        fill-opacity: 0.25;
      }
    }

    line.duration {
      stroke: grey;

      &.notInspected {
        stroke-opacity: 0.25;
      }
    }

    circle.duration {
      fill: grey;
      &.notInspected {
        fill-opacity: 0.25;
      }
    }


  }



  .population-stat {
    color: #0c789a;
    font-weight: bolder;
    margin: 0px 2px 0px 0px;
  }

  table.population-stats {
    border: none;
    margin: 0 auto 15px;

    th {
      text-align: right;
      padding: 0px 5px;
    }

    td {
      text-align: right;
      padding: 0px 5px;
      font-size: 0.9em;
      margin: 0;

      .total {
        color: #0c789a;
      }
    }


  }

  .footprintExplanation {
    color: grey;
    margin: 8px auto;
    line-height: 1.05;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
  }

  rect {
    &.nonwhite {
      fill: rgba(163, 135, 190, 1);
    }

    &.white {
      fill: rgba(44, 160, 44, 1);
    }
  }

  .timelineLabel {
    font-family: 'Roboto Condensed', sans-serif;
  }

  .xAxis {
    text {
      alignment-baseline: baseline;
      text-anchor: middle;

      &.all {
        text-anchor: end;
      }
    }
  }

  .yAxis {
    text {
      alignment-baseline: middle;
      text-anchor: start;
    }
  }

  .baseline {
    height: 1px;
  }







}

.projectStat {      

  .strong {
    font-weight: 400;
  }

  text {
    text-anchor: middle;

    &.stat {
      font-size: 20px;
    }



    &.labelOnBar {
      fill: white;
      font-size: 14px;
    }

    &.labelOffset {
      fill: black;
      font-size: 11px;
    }
  }


}