.cityStats, .projectStats {
  h2 {
    margin: 0 auto 10px;
    border-bottom: 1px solid #aaa;
  }

  h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.4em;
  }


  .closeicon {
      margin-left: -30px;
      margin-top: -2px;
      float: right;
      width: 30px;
      height: 26px;
      display: inline-block;
      background-repeat: no-repeat;
      opacity: 0.4;
      cursor: pointer;
      font-size: 1.5em;
  }

  .closeicon:hover {
      opacity: 1.0;
  }

  .summary, .duration {
    text-align: center;
    font-size: 1.1em;
    margin: 20px auto;
    line-height: 1.05;
  }

  .projects {
    li {
      text-transform: uppercase;
    }
  }

  .population-stat {
    color: #0c789a;
    font-weight: bolder;
    margin: 0px 2px 0px 0px;
  }

  table.population-stats {
    border: none;
    margin: 0 auto 15px;

    th {
      text-align: right;
      padding: 0px 5px;
    }

    td {
      text-align: right;
      padding: 0px 5px;
      font-size: 0.9em;
      margin: 0;

      .total {
        color: #0c789a;
      }
    }


  }

  .footprintExplanation {
    color: grey;
    margin: 8px auto;
    line-height: 1.05;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
  }


}