.contactUs {

	input,
	textarea,
	submit {
		display: block;
		margin: 20px 0 20px 250px;
		width: 350px;
	}

	textarea {
		height: 200px;
	}

	label {
		text-align: right;
		float: left;
		width: 230px;
		padding-top: 10px;
	}

	.contactUsForm {
		p {
			margin-left: 160px;
		}
	}
}