.gradientLegend {
  
  .percent {
    text {
      text-anchor: middle;
      font-size: 11px;
      alignment-baseline: middle;

      &.whites {
       
        text-anchor: start;
      }

      &.poc {
        alignment-baseline: baseline;
        text-anchor: end;
      }

      &.top {
        alignment-baseline: baseline;
      }

      &.bottom {
        alignment-baseline: hanging;
      }
    }
  }

  .mask {
    fill: $background-color;
    fill-opacity: 0.85;
  }
}

.dorlingLegend {
  circle.increment {
    fill: transparent;
    stroke: #333;
    stroke-width: 0.5;
  }

  text {
    font-size: 11px;
    text-anchor: end;
    alignment-baseline: middle;
  }
}