.gradientLegend {

  float:left;
  
  .percent {
    text {
      text-anchor: middle;
      font-size: 11px;
      alignment-baseline: middle;

      &.whites {
       alignment-baseline: hanging;
        
      }

      &.poc {
        alignment-baseline: baseline;
        
      }

      &.left {
        text-anchor: end;
      }

      &.right {
        text-anchor: start;
      }
    }

    .handle {
      pointer-events: auto;
    }
  }

  .mask {
    fill: white;
    fill-opacity: 0.85;
  }
}

.legendDorlings {
  float: right;
  circle.increment {
    stroke: #333;
    stroke-width: 0.5;
  }

  text {
    text-anchor: end;
    alignment-baseline: middle;
  }
}

.toggleLegend {
  position: absolute;
  top: 30px;
  right: 30px;
  color: white;
  pointer-events: auto;
}