.scatterplotField {
	line {

		&.gridline {
			stroke: darken(#D1D2D1, 25%);
			stroke-width: 1;
			stroke-opacity: 0.5;
		}

		&.proportional {
			stroke: #E4D96F;
			stroke-width: 2;
		}
	}

	text {
		fill: black;
		text-anchor: middle;
    font-size: 16px;

    &.label {
      font-weight: 400;
    }

    &.inadequate {
      fill: grey;
      font-size: 0.8em;
    }

    &.masked {
      fill-opacity: 0.1;
    }

    &.proportional {
      fill: #555;

      &.arrow {
       font-size: 32px;
      }
    }
	}
}

.scatterplotExplanation {
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-color: white;
  font-size: 1em;
  overflow-y: scroll;
  color: #111;
  margin: 0;
  max-width: 20%;
  max-height: 20%;
  border-top-right-radius: 7px;
  font-family: 'Roboto Condensed', sans-serif;

  padding: 10px 10px 0 0;

  span {
    border-bottom: 1px dotted;
  }

  .hideExplanation {
    position: sticky;
    left: 0;
    bottom: 0;
    color: grey;
    background-color: white;
    margin: 0;
    cursor: pointer;
  }
}