.search {
	position: fixed;

	input {
		width: 60%;
		margin-left: 20%;
	}

	.close {
		position: fixed;
		right: 0;
		color: grey;
		font-size: 15px;
		padding-top: 6px;
	}
}

.searchResults {
	position: fixed;
	overflow-y: scroll;
	background-color: $text-background-color;
}