.longishform,
.contactUs {
	position: absolute;
	bottom: 20px;
	top: 20px;
	left: 20px;
	right: 20px;
	z-index: 10000;
	overflow-y: scroll;
	background: rgba(243, 243, 243, 0.95);
	text-align: center;
	z-index: 100003;

	.content
 {
		margin: 10px auto;
		width: 600px;
	}

	p, ul {
		@extend %lato-light;
		font-size: 1.3em;
		text-align: initial;
		margin-bottom: .8em;
		word-spacing: 4px;
	}

	h1, h2, h3, h4, h5, h6 {
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	button {
		border: none;
		margin-left: 580px;
		font-size: 2em;


	}

	.arealocation,
		button.sure, button.nope {
			margin: 0 10px;
			border: 1px solid #e4e1e1;
		
		}

		button.sure:hover, button.nope:hover {
			border: 1px solid #bfbfbf;
		}

	 .arealocationPrompt p {

		text-align: center;
		padding-top: 20px;
	}

	img:not(.cc) {
		width: 90%;
		padding: 10px 5%;
	}

}