#timeline {
  
  span {
    margin: 0 10px;
    font-size: 12px;

    &.selected {
      font-weight: bold;
      color: maroon;
    }
  }



  text {
      -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
  	user-select: none;
  }

}

            #rect1 { fill: url(#grad1); }
            .stop1 { stop-color: rgb(125,200,125); }
            .stop2 { stop-color: rgb(100,150,200); }