.timeline {
  fill: $basemap-color;
}

#timeline {

  rect {
    cursor: pointer;
    &.nonwhite {
      fill: rgba(163, 135, 190, 1);
    }

    &.white {
      fill: rgba(44, 160, 44, 1);
    }
  }

  .timelineLabel {
    font-family: 'Roboto Condensed', sans-serif;
  }

  .xAxis {
    text {
      text-anchor: middle;
      cursor: pointer;

      &.all {
        text-anchor: end;
      }
    }
  }

  .yAxis {
    text {
      text-anchor: start;
      cursor: pointer;
    }
  }

  .baseline {
    height: 1px;
  }


  text {
    font-weight: 100;
      -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
    user-select: none;

    &.hasFootprint {
      font-weight: 400;
    }
  }

  .grid {
    fill: $background-color;

    .base {
      fill: 'black';
    }
  }

}

            #rect1 { fill: url(#grad1); }
            .stop1 { stop-color: rgb(125,200,125); }
            .stop2 { stop-color: rgb(100,150,200); }