.timeline {
  fill: $basemap-color;
}

#timeline {

  .xAxis {
    text {
      alignment-baseline: baseline;
      text-anchor: middle;

      &.all {
        text-anchor: end;
      }
    }
  }

  .yAxis {
    text {
      alignment-baseline: middle;
      text-anchor: start;
    }
  }

  .baseline {
    height: 1px;
  }


  text {
      -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
    user-select: none;
  }

  .grid {
    fill: $background-color;
  }

}

            #rect1 { fill: url(#grad1); }
            .stop1 { stop-color: rgb(125,200,125); }
            .stop2 { stop-color: rgb(100,150,200); }