.cityLabel {
  fill: $text-color;
  text-anchor: middle;
}

.dorlings {
	text {
		pointer-events: none;

		&.multistroke {
			fill: transparent;
			stroke-width: 3.5;
			stroke-opacity: 0.7;
		}
	}
}

#mapChartControls {
	position: absolute;
	left: 40px;
	top: 40px;
}

.dorlingLabel {
	text {
		pointer-events: none;
		user-select: none;
	}
}