

.cityLabel {
  fill: $text-color;
  text-anchor: middle;
}

.dorlings {
	text {
		pointer-events: none;
	}
}



#mapChartControls {
	position: absolute;
	left: 32px;
	top: 32px;

	div {

		cursor: pointer;

		&.zoom-in {
		  /* mimics leaflet controls */
		  background-color: white;
		  background-position: 50%;
		  display: block;
		  font-family: "Lucida Console", Monaco, monospace;
		  font-size: 24px;
		  font-weight: bold;
		  height: 28px;
		  line-height: 27px;
		  text-align: center;
		  text-indent: 1px;
		  width: 26px;
		  border: 2px solid rgba(0,0,0,0.2);
		  
		  border-top-left-radius: 4px;
		  border-top-right-radius: 4px;
		  border-bottom: 1px solid rgb(204,204,204);


		}

		&.zoom-out {
		  /* mimics leaflet controls */
		  background-color: white;
		  background-position: 50%;
		  display: block;
		  font-family: "Lucida Console", Monaco, monospace;
		  font-size: 24px;
		  font-weight: bold;
		  height: 28px;
		  line-height: 30px;
		  text-align: center;
		  text-indent: 1px;
		  width: 26px;
		  border: 2px solid rgba(0,0,0,0.2);
		  
		  border-bottom-left-radius: 4px;
		  border-bottom-right-radius: 4px;
		  border-top: none;
		}

		&.reset {
			margin-top: 10px;
			border-radius: 5px;
		}
	}
}





.projectLabel,
.cityMapCityLabel {
	border: none;
	background-color: transparent;
	box-shadow: none;
	text-shadow: -2px 0 1px #f5f5f3, 0 2px 1px #f5f5f3, 2px 0 1px #f5f5f3, 0 -2px 1px #f5f5f3;
	font-family: 'Roboto Condensed';
	font-size: 1.3em;
	text-align: center;
	line-height: 1.1;

	.displacements {
		color: #555;
		font-size: 0.9em;
	}
}

.miLink {
	display: absolute;
	left: 30px;
	bottom: 60px;
}

.holc {
	
	stroke-width: 0;
	&.A { 
		fill: #418e41;
	}
	&.B { 
		fill: #4a4ae4;
	}
	&.C { 
		fill: #ffdf00;
	}
	&.D { 
		fill: #eb3f3f;
	}
}

.resetView {
  position: absolute;
  top: 70px;
  left: 0px;
  z-index: 100001;
  height: 32px;
  width: 30px; 
  pointer-events: auto;
  background: white;
  padding: 2px 0 0 0;
  border: 2px solid rgb(204,204,204);

  &.city {
    left: 32px;
    top: 102px;
  }

  svg {
  	padding: 3px 0 0 0px;
  }


}

.projectFootprints {
	pointer-events: auto;


}



